.logo {
  width: 100%;
}
.nav-theme {
 
  font-size: 20px;
}

.animate-navbar {
  
  animation: moveDown 0.5s ease-in-out;
}
 @keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
} 
.scroll-down{
  background-color: #66000000;
}